<!DOCTYPE html>
<html>
<head>
    <title>Test Banlinea</title>
    <meta charset="utf-8" />
    <style>
        body {
    background: rgba(255,255,255,1);
background: linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(94,96,201,0.77) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(94,96,201,0.77)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(94,96,201,0.77) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(94,96,201,0.77) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(94,96,201,0.77) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(94,96,201,0.77) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#5e60c9', GradientType=0 );
font-family:'Century Gothic';
    height: 55vw;
}
        h2 {
        font-weight:100;
        } 
        .ContainerIndex {
            width:100%;
            float:left;
            
        }
        .IconosContainer {
            max-width:1500px;
            margin:0 auto;
            margin-top: 10%;
            
        }
        .IconoContainer {
            width: 240px;
            max-width: 240px;
            float:left;
            padding-left:4%;
            padding-right:4%;
            padding-top:2%;
            padding-bottom:2%;
            text-align:center;
        }
         
        .ImagenIcono img:hover {-webkit-filter: drop-shadow(3px 3px 3px rgba(59,59,59,0.4)); filter: drop-shadow(3px 3px 3px rgba(59,59,59,0.4));
        }
        .IconoContainer a{
            text-decoration:none;
            color:#000000;
        }
    </style>
</head>
<body>
    <div class="ContainerIndex">
        <div class="IconosContainer">
            <div class="IconoContainer">
                <a href="~/Cities/">
                    <div class="TituloIcono">
                        <h2>Ciudades</h2>
                    </div>
                    <div class="ImagenIcono">
                        <img src="https://k61.kn3.net/F/7/6/C/A/F/AFA.png" />
                    </div>
                </a>
            </div>
            <div class="IconoContainer">
                <a href="~/Countries/">
                    <div class="TituloIcono">

                        <h2>Países</h2>
                    </div>
                    <div class="ImagenIcono">
                        <img src="https://k60.kn3.net/3/B/9/3/D/7/864.png" />
                    </div>
                </a>
            </div>
            <div class="IconoContainer">
                <a href="~/Enterprises/">
                    <div class="TituloIcono">
                        <h2>Empresas</h2>
                    </div>
                    <div class="ImagenIcono">
                        <img src="https://k60.kn3.net/8/5/3/7/4/2/30C.png" />
                    </div>
                </a>
            </div>
            <div class="IconoContainer">
                <a href="~/ProductCategories/">
                    <div class="TituloIcono">
                        <h2>Categorías de productos</h2>
                    </div>
                    <div class="ImagenIcono">
                        <img src="https://k60.kn3.net/8/4/3/9/0/1/AC3.png" />
                    </div>
                </a>
            </div>
                <div class="IconoContainer">
                    <a href="~/ProductTypes/">
                        <div class="TituloIcono">
                            <h2>Tipos de productos</h2>
                        </div>
                        <div class="ImagenIcono">
                            <img src="https://k61.kn3.net/B/1/7/C/1/9/266.png" />
                        </div>
                    </a>
                </div>
                <div class="IconoContainer">
                    <a href="~/Products/">
                        <div class="TituloIcono">
                            <h2>Productos</h2>
                        </div>
                        <div class="ImagenIcono">
                            <img src="https://k61.kn3.net/2/0/E/A/C/C/679.png" />
                        </div>
                    </a>
                </div>
                <div class="IconoContainer">
                    <a href="~/Users/">
                        <div class="TituloIcono">
                            <h2>Usuarios</h2>
                        </div>
                        <div class="ImagenIcono">
                            <img src="https://k61.kn3.net/2/C/D/F/9/6/60E.png" />
                        </div>
                    </a>
                </div>
            </div>
    </div>
</body>
</html>


